# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables / secrets
.env

# macOS
.DS_Store

#other weeks folders
week6/
week7/

topological.py

#solutions
week3/solutions
week5/solutions